.row
  .twelve.columns
    %div{"ng-controller" => "LinksOverviewCtrl"}

      .row
        .twelve.columns
          %form{"ng-submit" => "addLink()"}
            Title:
            %input{"ng-model" => "newLink.title", :type => "text"}
            Description:
            %input{"ng-model" => "newLink.description", :type => "text"}
            URL:
            %input{"ng-model" => "newLink.url", :type => "text"}
            Category:
            %input{"ng-model" => "newLink.category", :type => "text"}
            %input{type: "submit", value: "Add", class: "radius button"}

      .row
        .twelve.columns.query
          %h1 Find anything
          %input{"ng-model" => "query", type: "text"}

      .row
        .twelve.columns
          %a.radius.button{href: "#"}
            +

      .row
        .twelve.columns.links
          .link_line{"ng-repeat" => "link in links | filter:query"}
            .vote
              .vote_count
                23
            .link
              .title
                %a{href: "{{link.url}}", target: "_blank"}
                  {{ link.title }}

              .description
                \- {{ link.description }}
            .category
              {{ link.category }}