@mixin round-corners {
  border-radius:10px;
  -moz-border-radius:10px;
}

@mixin box-shadow {
  -moz-box-shadow: 5px 5px 3px #888;
  -webkit-box-shadow: 5px 5px 3px #888;
  box-shadow: 5px 5px 3px #888;
}