@import "_variables.css.scss";
@import "_mixins.css.scss";

html, body {
  font-family: $default-font;
  font-size: 100%;
  background-color: $background-color;
}

h1 {
  color: $base-color;
  font-weight: bold;
  font-size: 2em;
}
img {
  max-width: 100%;
}
.clear {
  clear:both;
}
.clear_filter {
  margin-top: 1em;
}
a {
  color: $base-color;

  &:visited {
    color: darken($base-color, 5%);
  }
  &:hover, &:focus {
    color: lighten($base-color, 5%);
  }
  &:active {
    color: lighten($base-color, 10%);
  }
}
a.radius, a:visited.radius, input.radius {
  color: #FFFFFF;
  background-color: $base-color;
  font-weight: bold;
}
a:hover.radius, input:hover.radius {
  background-color: lighten($base-color, 10%);
}
.header_container {
  float: left;
  margin-bottom: 1em;
  padding: 0.5em;
  width: 100%;
  height: 10em;
  background-color: $header-background-color;

  .title {
    float: left;
    font-size: 3em; /* 36px/16px */
    font-weight: bold;
    font-family: $default-font;
    color: $header-title-color;
    padding: 0.9em 1em 1em 0em;
  }
  .logo {
    float: left;
    padding: 0.5em 2em 2em 10em;
  }
}
footer {
  width: 100%;
  height: 5em;
  margin-top: 3em;
  padding-top: 1em;
  background-color: $header-background-color;

  .subheader {
    text-align: center;
    font-family: $default-font;
    font-size: 1em; /* 24px/16px */
    color: $header-title-color;
  }
}
.query {
  margin-bottom: 1em;

  input {
    font-size: $size-normal;
    padding: 3px;
    margin-top: 1em;
  }
}

form {
  $outdent: 100px;

  & > div {
    padding-left: $outdent;
    margin: $line 0;

    input {
      font-size: $size-normal;
      padding: 3px;
      margin: -3px 0;
    }

    label {
      float: left;
      margin-left: -$outdent;
      width: $outdent;
    }
  }
}

