@import "_variables.css.scss";
@import "_mixins.css.scss";

.link_line {
  background-color: #FFFFFF;
  width: 90%;
  height: 65px;
  margin-bottom: 8px;

  .vote {
    width: 10%;
    height: 100%;
    float: left;
    border-right: 1px dotted grey;
    text-align: center;
    padding-top: 5px;

    .vote_count {
      margin: 2px 0;
      font-size: 125%;
    }
    .upvote, .downvote > a {
      font-size: 75%;
    }
  }
  .link {
    float: left;
    width: 80%;
    margin: 10px 5px 5px 10px;

    .link_name {
      float: left;
      padding: 5px;

      a {
        font-size: 125%;
      }
    }
    .link_details {
      float: left;
      clear: both;
      width: 100%;
      padding: 0 5px 5px 5px;

      .submitted {
        float: left;
        font-size: 80%;
        padding: 2px;
      }
      .link_tags, .link_remove {
        float: left;

        a {
          font-size: 80%;
          margin-left: 10px;
        }
      }
    }
  }
  .link_comments {
    float: left;
    padding-top: 20px;
    text-align:center;
    width: 5%;

    a {
      font-size: 200%;
    }
  }
}
.new_link {
  width: 10em;
  margin-bottom: 10px;
  padding: 10px 15px;

  a, a:hover, a:visited {
    color: #FFFFFF;
  }
}
.comment {
  list-style: none;
  margin: $line 0;
  p {
    margin: 0;
  }
}

form {
  $outdent: 100px;

  & > div {
    padding-left: $outdent;
    margin: $line 0;

    input {
      font-size: $size-normal;
      padding: 3px;
      margin: -3px 0;
    }

    label {
      float: left;
      margin-left: -$outdent;
      width: $outdent;
    }
  }
}
