@import "_variables.css.scss";
@import "_mixins.css.scss";

.links {
  margin-top: 2em;

  .link_line {
    float: left;
    background-color: #FFFFFF;
    width: 100%;
    margin-bottom: 0.8em;
    border: 1px solid #C5C3C3;
    height: 3em;
    @include box-shadow;

    .vote {
      float: left;
      width: 10%;
      height: 100%;
      border-right: 2px dotted #C5C3C3;
      text-align: center;
      padding-bottom: 1.2em;

      .vote_count {
        margin-top: 0.6em;
        text-align: center;
        font-size: 125%;
      }
      .upvote, .downvote > a {
        font-size: 75%;
      }
    }
    .link {
      float: left;
      width: 70%;
      margin: 0.8em 1em;

      .title {
        float: left;

        a {
          font-size: 125%;
        }
      }
      .description {
        float: left;
        padding-left: 0.5em;
        font-size: 80%;
        padding-top: 0.5em;
      }
    }
    .category {
      float: right;
      padding: 0.5em;
      margin: 0.5em;
      margin-right: 1em;
      background-color: $base-color;
      border: 1px solid darken($base-color, 10);;
      color: #FFFFFF;
      font-size: 90%;
      font-weight: bold;
      @include round-corners;
    }
  }
}
