<div ng-controller="LinksIndexCtrl">
  <div class="row">
    <div class="twelve columns query">
      <h1> Find anything
      <input ng-model="query" type="text" />
    </div>
  </div>

  <div class="row">
    <div class="twelve columns">
      <a class="radius button" href="#" ng-click="addLink()">+</a>
    </div>
  </div>

  <div class="row">
    <div class="twelve columns links">
      <div class="link_line" ng-repeat="link in links | filter:query">
        <div class="vote">
          <div class="vote_count">23</div>
        </div>
        <div class="link">
          <div class="title">
            <a href="{{link.url}}" target="_blank">{{link.title}}</a>
          </div>
          <div class="description">- {{ link.description }}</div>
        </div>
        <div class="category">{{ link.category }}</div>
      </div>
    </div>
  </div>

</div>